body {
  font-family: sans-serif;
  background-size: cover;
}

header {
  background-color: red;
  height: 60px;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #b30000;
}

body .container {
  background-image: url("vit.jpg");
  background-repeat: inherit;
  height: auto; /* Anpassa höjden till ditt innehåll */
  overflow: hidden;
}

.animated-section {
  max-width: 1200px;
  margin: 100 auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animated-section.animated {
  opacity: 1;
  transform: translateY(0);
}

.animated-section img {
  max-height: 400px;
  max-width: 600px;
  border: solid rgb(201, 21, 21) 4px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  z-index: 9999;
  cursor: pointer;
}

/* Övrig CSS-kod */
